In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
item_info = pd.read_csv('../data/meta_data.csv')
review_data = pd.read_csv('../data/raw_review_data.csv')

In [39]:
review_data['timestamp'] = pd.to_datetime(review_data['timestamp'], unit='ms')
review_data_20_25 = review_data[(review_data['timestamp'].dt.year >= 2020) & (review_data['timestamp'].dt.year <= 2025)]

In [40]:
review_data.shape

(2500939, 10)

In [41]:
review_data_20_25.shape

(831935, 10)

In [42]:
joined_df = pd.merge(review_data_20_25, item_info, on='parent_asin', how='left')

In [43]:
joined_df.shape

(831935, 23)

In [44]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831935 entries, 0 to 831934
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   rating             831935 non-null  float64
 1   title_x            831679 non-null  object
 2   text               831661 non-null  object
 3   images_x           831935 non-null  object
 4   asin               831935 non-null  object
 5   parent_asin        831935 non-null  object
 6   user_id            831935 non-null  object
 7   timestamp          831935 non-null  datetime64[ns]
 8   helpful_vote       831935 non-null  int64
 9   verified_purchase  831935 non-null  bool
 10  main_category      831935 non-null  object
 11  title_y            831888 non-null  object
 12  average_rating     831935 non-null  float64
 13  rating_number      831935 non-null  int64
 14  features           831935 non-null  object
 15  description        831935 non-null  object
 16  price              216591 non-null  float64
 17  images_y           831935 non-null  object
 18  videos             831935 non-null  object
 19  store              828449 non-null  object
 20  categories         831935 non-null  object
 21  details            831935 non-null  object
 22  bought_together    0 non-null       float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(15)
memory usage: 140.4+ MB

In [45]:
joined_df['bought_together'].isnull().sum()

np.int64(831935)

In [46]:
joined_df = joined_df.drop(columns=['bought_together'])

In [47]:
joined_df.to_csv('../data/joined_data.csv', index=False)